<p id="notice"><%= notice %></p>

<p>
  <strong>Purchase name:</strong>
  <%= @record.purchaser_name %>
</p>

<p>
  <strong>Item description:</strong>
  <%= @record.item_description %>
</p>

<p>
  <strong>Item price:</strong>
  <%= @record.item_price %>
</p>

<p>
  <strong>Purchase count:</strong>
  <%= @record.purchase_count %>
</p>

<p>
  <strong>Merchant address:</strong>
  <%= @record.merchant_address %>
</p>

<p>
  <strong>Merchant name:</strong>
  <%= @record.merchant_name %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
